#root {
-fx-font-family: "courier new";
-fx-background-color: #282C34;
-fx-font-size: 14px;
-fx-font-weight: bold;
-fx-padding: 0 12;
}

Label{
-fx-text-fill: #FFFFFF;}
#instructionLabel{
-fx-pref-width: infinity;
-fx-background-color:#3A3F4B;
-fx-background-radius: 0 0 8 8;

}

#tableSampleSizeControlsContainer{
-fx-padding: 16 0;
-fx-max-width: infinity;
}

.PushedRight{
-fx-padding: 0 0 0 40;
}

.Header{
-fx-padding: 12 0 0 0;
-fx-font-style:italic;
-fx-text-fill:white;
}


#instructionLabel{
-fx-text-fill:white;
-fx-padding:2;
}

.ChooseFileButton{
-fx-min-width: 200px;
-fx-pref-width:200px;
-fx-max-width: 200px;
-fx-background-radius: 30px;
}

.ModeButton{
-fx-background-radius: 30 30 0 0;
}

ProgressIndicator{
-fx-max-height:100;
-fx-max-width:100;
-fx-progress-color: #FE4068;
visibility:hidden
}

.SampleTableCell{
-fx-padding: 4px;
-fx-background-color: rgba(254,64,104,0.5);
-fx-background-radius:16;
-fx-max-width: 100;
-fx-alignment: center;
-fx-cursor: hand;
}

.SampleTableCell:hover{
-fx-background-color: rgba(254,64,104,0.8);
}

TextField{
-fx-background-radius:16;}

ListView{
-fx-background-radius:4;
}
.GeneratedTableCell{
-fx-background-color : #FFFFFF;
-fx-alignment: center;
-fx-max-height: infinity;
-fx-max-width: infinity;
-fx-wrap-text: true;
-fx-padding:8;
-fx-background-radius:4;

}

.tableSampleContainer{
-fx-background: #21252B;
}



#tableSample{
-fx-padding:4;
-fx-hgap: 5;
-fx-vgap: 5}

ScrollPane{
-fx-padding:4;
-fx-border-color:#21252B;
}

ScrollPane:focused {
-fx-background-color:#21252B;
}

#courseOperationsGrid{
-fx-padding: 16 0 0 0 }

#generatedTableGrid{
-fx-padding: 8 12;
-fx-hgap: 5;
-fx-vgap: 5;
}

