#root {
-fx-background-color:#282C34;
-fx-font-weight:bold;
}

#generatedTableGrid{

}

.fillingButton{
-fx-max-width: infinity}


#exampleSelectionControlsContainer{
-fx-padding: 0 0 0 0  }

.GridCell{
-fx-background-color: #0477E2;
-fx-background-radius:16;
-fx-max-width: 100;
-fx-alignment: center;
-fx-cursor: hand;
}


.tableSampleContainer{
-fx-background: #21252B;
}

#tableSample{
-fx-padding:4;
-fx-hgap: 5;
-fx-vgap: 5}


ProgressIndicator{
-fx-max-height:100;
-fx-max-width:100;
-fx-progress-color: #64FFDA;
visibility:hidden
}




.extrasBox{
-fx-spacing: 2;
-fx-max-width: infinity;
-fx-background-color: #21252B;
-fx-padding: 0 10 0 10;
}

Label{
-fx-text-fill:white;
-fx-padding:2;
}

.Header{
-fx-font-style: italic}

#instructionLabel{
-fx-pref-width: infinity;
-fx-background-color:#3A3F4B;
}

ChoiceBox {
-fx-background-color:#00695C;
}

ScrollPane{
-fx-padding:4;
-fx-border-color:#21252B;
}

#courseOperationsGrid{
-fx-padding: 16 0 0 0 }

#generatedTableControlBar{
-fx-padding:4;
-fx-spacing:4;
-fx-background-color:#3A3F4B;
}

#generatedTableImageViewContainer{
-fx-padding: 16 0 0 0;
-fx-min-width: 0;
-fx-min-height:0}
