VBox {
-fx-background-color:#009688;
-fx-font-weight:bold;
}

.exampleSelectionBar{
-fx-padding: 8 0 0 0  }

.tableSampleLabel{
-fx-background-color: #00695C;
-fx-max-width: infinity;
-fx-max-height: infinity;
-fx-alignment: center;
-fx-cursor: hand;
}

.button{
-fx-max-width: infinity}


.settingsBox{
-fx-spacing: 2;
-fx-max-width: infinity;
-fx-background-color: #00796B;
-fx-padding: 0 10 0 10;
}

Label{
-fx-text-fill:white;
-fx-padding:2;
}

.Header{
-fx-font-style: italic}

.InstructionLabel{
-fx-pref-width: infinity;
-fx-effect: dropshadow(gaussian, #004D40, 10, 0, 2, 2);
-fx-background-color:#00897B;
}

ChoiceBox {
-fx-background-color:#00695C;
}

ScrollPane{
-fx-padding:4;
-fx-background:#00796B;
-fx-border-color: #00796B;
-fx-effect: dropshadow(gaussian, #004D40, 10, 0, 1, 1);
}

.csg{
-fx-padding: 16 0 0 0 }
