VBox {
-fx-background-color:#009688;
}

HBox{
-fx-padding: 8 0 0 0  }

SelectionModeButton{
-fx-max-width: infinity}


Label{
-fx-text-fill:white;
-fx-padding:2;
}

.instructionLabel{
-fx-pref-width: infinity;
-fx-effect: dropshadow(gaussian, #004D40, 10, 0, 2, 2);
-fx-background-color:#00897B;
}

ChoiceBox {
-fx-background-color:#004D40;
}

ScrollPane{
-fx-padding:4;
-fx-background:#2980b9;
-fx-border-color:#2980b9;
}



.csg{
-fx-padding: 16 0 0 0 }
